<style>
.box-gradient {
   background: rgb(226,37,79);
background: linear-gradient(0deg, rgba(226,37,79,1) 0%, rgba(232,78,111,1) 100%);
}
</style>


<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js'></script>




         <% content_for :dashboard_wrap do %>
               <%= render 'side_bar' %>
                 <div class="xl:col-span-10 col-span-12  md:mt-5 h-full md:col-span-9 h-full relative md:h-[calc(100vh_-_6.5rem)] overflow-auto bg-white">
                    <div class="grid grid-cols-12 gap-4  text-center  px-4 pt-4">
                        <div class="col-span-6 lg:col-span-3">
                            <div class="h-28 w-full box-gradient rounded-md flex items-center justify-center">
                               <div>
                                  <h5 class="text-white mb leading-none">Asset</h5>
                                  <h4 class="text-white text-3xl font-bold">12</h4>
                               </div>
                            </div>
                        </div>
                        <div class="col-span-6 lg:col-span-3">
                            <div class="h-28 w-full box-gradient rounded-md flex items-center justify-center">
                               <div>
                                  <h5 class="text-white mb leading-none">Active IP</h5>
                                  <h4 class="text-white text-3xl font-bold">1</h4>
                               </div>
                            </div>
                        </div>
                        <div class="col-span-6 lg:col-span-3">
                            <div class="h-28 w-full box-gradient rounded-md flex items-center justify-center">
                               <div>
                                  <h5 class="text-white mb leading-none">Port</h5>
                                  <h4 class="text-white text-3xl font-bold">18</h4>
                               </div>
                            </div>
                        </div>
                        <div class="col-span-6 lg:col-span-3">
                            <div class="h-28 w-full box-gradient rounded-md flex items-center justify-center">
                               <div>
                                  <h5 class="text-white mb leading-none">Vulnerability</h5>
                                  <h4 class="text-white text-3xl font-bold">0</h4>
                               </div>
                            </div>
                        </div>
                     </div>
                     <a href="#" class=" px-2 py-2 absolute bottom-2 left-1/2 transform -translate-x-1/2 -translate-y-1/2   border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-theme focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-theme"> Scan </a>
                    <div class="md:grid md:grid-cols-10 bg-white gap-4  text-center  relative px-4 pt-4">
                       <div class="lg:col-span-2 py-1 md:col-span-3 col-span-10">
                          <div class="flex items-center justify-between mb-3">
                             <div class="flex items-center">
                                <%= image_tag 'asset.svg', alt: 'icon' %>
                                <h6 class="text-black ml-2 text-lg font-semibold mr-3">software</h6>
                                <!-- <i class="far fa-check-circle theme"></i> -->
                                <%= image_tag 'check-mark.svg', alt: 'icon' %>
                             </div>
                                <%= image_tag 'down-arrow.svg', alt: 'icon' %>
                          </div>
                          <div class="px-3 py-6 bg-lightgray rounded-md">
                           <div class="col-xs-3 text-center" style="width:120px; margin: 0 auto;"><canvas id="piechart" ></canvas></div>
                          </div>
                       </div>
                       <div class="lg:col-span-2 py-1 md:col-span-3 col-span-10">
                          <div class="flex items-center justify-between mb-3">
                             <div class="flex items-center">
                                <%= image_tag 'asset.svg', alt: 'icon' %>
                                <h6 class="text-black ml-2 text-lg font-semibold mr-3">software</h6>
                                <!-- <i class="far fa-check-circle theme"></i> -->
                                <%= image_tag 'check-mark.svg', alt: 'icon' %>
                             </div>
                                <%= image_tag 'down-arrow.svg', alt: 'icon' %>
                          </div>
                          <div class="px-3 py-6 bg-lightgray rounded-md">
                            <div class="col-xs-3 text-center" style="width:120px; margin: 0 auto;"><canvas id="piechart2" ></canvas></div>

                          </div>
                       </div>
                       <div class="lg:col-span-2 py-1 md:col-span-3 col-span-10">
                          <div class="flex items-center justify-between mb-3">
                             <div class="flex items-center">
                                <%= image_tag 'port.svg', alt: 'icon' %>
                                <h6 class="text-black ml-2 text-lg font-semibold mr-3">software</h6>
                                <!-- <i class="far fa-check-circle theme"></i> -->
                                <%= image_tag 'check-mark.svg', alt: 'icon' %>
                             </div>
                                <%= image_tag 'down-arrow.svg', alt: 'icon' %>
                          </div>
                          <div class="px-3 py-4 bg-lightgray rounded-md">
                             <div class="flex items-center justify-between mb-1">
                                <h6 class="text-sm leading-n7">22</h6>
                                <h6 class="text-sm  leading-7">33</h6>
                             </div>
                             <div class="flex items-center justify-between mb-1">
                                <h6 class="text-sm  leading-7">22</h6>
                                <h6 class="text-sm  leading-7">33</h6>
                             </div>
                             <div class="flex items-center justify-between mb-1">
                                <h6 class="text-sm  leading-7">22</h6>
                                <h6 class="text-sm  leading-7">33</h6>
                             </div>
                             <div class="flex items-center justify-between mb-1">
                                <h6 class="text-sm  leading-7">22</h6>
                                <h6 class="text-sm  leading-7">33</h6>
                             </div>
                          </div>
                       </div>
                       <div class="lg:col-span-2 py-1 md:col-span-3 col-span-10">
                          <div class="flex items-center justify-between mb-3">
                             <div class="flex items-center">
                                <%= image_tag 'ip-address.svg', alt: 'icon' %>
                                <h6 class="text-black ml-2 text-lg font-semibold mr-3">software</h6>
                                <!-- <i class="far fa-check-circle theme"></i> -->
                                <%= image_tag 'check-mark.svg', alt: 'icon' %>
                             </div>
                                <%= image_tag 'down-arrow.svg', alt: 'icon' %>
                          </div>
                          <div class="px-3 py-4 bg-lightgray rounded-md">
                             <div class="flex items-center justify-between mb-1">
                                <h6 class="text-sm leading-7">10.10.10.91</h6>
                                <h6 class="text-sm leading-7">33</h6>
                             </div>
                             <div class="flex items-center justify-between mb-1">
                                <h6 class="text-sm leading-7">10.10.10.91</h6>
                                <h6 class="text-sm leading-7">33</h6>
                             </div>
                             <div class="flex items-center justify-between mb-1">
                                <h6 class="text-sm leading-7">10.10.10.91</h6>
                                <h6 class="text-sm leading-7">33</h6>
                             </div>
                             <div class="flex items-center justify-between mb-1">
                                <h6 class="text-sm leading-7">10.10.10.91</h6>
                                <h6 class="text-sm leading-7">33</h6>
                             </div>
                          </div>
                       </div>
                       <div class="lg:col-span-2 py-1 md:col-span-3 col-span-10">
                          <div class="flex items-center justify-between mb-3">
                             <div class="flex items-center">
                                <%= image_tag 'virus.svg', alt: 'icon' %>
                                <h6 class="text-black ml-2 text-lg font-semibold mr-3">software</h6>
                                <!-- <i class="far fa-check-circle theme"></i> -->
                                <%= image_tag 'check-mark.svg', alt: 'icon' %>
                             </div>
                                <%= image_tag 'down-arrow.svg', alt: 'icon' %>
                          </div>
                          <div class=" bg-lightgray h-40 rounded-md">
                             
                          </div>
                       </div>
                    </div>
               </div>
           
           <% end%>
           <%= render 'dashboard_wrap' %>
<script>
var data = {
	labels: [
		"Internal",
		"External",
		"Exxternal"
	],
	datasets: [{
		data: [40, 60, 80],
		backgroundColor: [
			"#e11d48",
			"#e11d48ad",
			"#a5153599"
		],
		hoverBorderColor: [
			"#eee", "#eee", "#eee"
		]
	}]
};
var piectx = document.getElementById("piechart").getContext("2d");
var pieChart = new Chart(piectx, {
	type: 'doughnut',
	data: data,
	options: {
		showAllTooltips: true,
		animation: {
			animateRotate: true,
			animateScale: true
		},
		elements: {
			arc: {
				borderColor: "transparent"
			}
		},
		title: {
			display: false,
		},
		legend: {
			display: false,
			position: "bottom",
			labels: {
				boxWidth: 30,
				fontColor: "#999",
				fontFamily: "Montserrat",
				fullWidth: true
			}
		},
		tooltips: {
			enabled: true,
			bodyFontColor: "#efefef",
			fontStyle: 'Normal',
			bodyFontFamily: "Montserrat",
			cornerRadius: 2,
			backgroundColor: "#333",
			xPadding: 7,
			yPadding: 7,
			caretSize: 5,
			bodySpacing: 10
		}

	}
});
var data = {
	labels: [
		"Internal",
		"External",
		"Exxternal"
	],
	datasets: [{
		data: [40, 60, 80],
		backgroundColor: [
			"#e11d48",
			"#e11d48ad",
			"#a5153599"
		],
		hoverBorderColor: [
			"#eee", "#eee", "#eee"
		],
        hoverOffset: 4
	}]
};
var piectx = document.getElementById("piechart2").getContext("2d");
var pieChart = new Chart(piectx, {
	type: 'doughnut',
	data: data,
	options: {
		showAllTooltips: true,
		animation: {
			animateRotate: true,
			animateScale: true
		},
		elements: {
			arc: {
				borderColor: "transparent"
			}
		},
		title: {
			display: false,
		},
		legend: {
			display: false,
			position: "bottom",
			labels: {
				boxWidth: 30,
				fontColor: "#999",
				fontFamily: "Montserrat",
				fullWidth: true
			}
		},
		tooltips: {
			enabled: true,
			bodyFontColor: "#efefef",
			fontStyle: 'Normal',
			bodyFontFamily: "Montserrat",
			cornerRadius: 2,
			backgroundColor: "#333",
			xPadding: 7,
			yPadding: 7,
			caretSize: 5,
			bodySpacing: 10
		}

	}
});
</script>